.text-carevul {
  color: rgba(58, 142, 246, 1) !important;  /* Dark Blue */
}

.border-carevul {
  border: 1px solid #3655d5 !important;
}

.color-carevul-gradient {
  background-image: linear-gradient(
    to right,
    rgba(158, 193, 238, 1), /* Light Blue */
    rgba(58, 142, 246, 1)    /* Dark Blue */
);

  /* transition-delay: 900s; */

  transition: 100;
}

.color-carevul-gradient:hover {
  background-image: linear-gradient(
    to right,
    rgba(158, 193, 238, 1), /* Light Blue */
    rgba(58, 142, 246, 1)    /* Dark Blue */
);

  /* border: 6px solid #3655D5; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  /* height: 100px; */
}

.banner-landing {
  background-image: linear-gradient(
    to right,
    rgba(158, 193, 238, 1), /* Light Blue */
    rgba(58, 142, 246, 1)    /* Dark Blue */
);
}
